<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VanTanhLy</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>  
    <div class="container">
        <h1>This is first website using spring boot</h1>

        <div class="email">
            <label>Email: </label>
            <input type="email" name="Email" placeholder="Email">
        </div>
        <div>
            <label class="lb-password">Password:</label>
            <input class="ip-password" type="password" name="password" placeholder="Password">
        </div>
    </div>


</body>

</html>